<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li> <%= link_to "Home", root_path %> </li>
            <li><a href="products.hml">Products</a></li>
            <li class="active">CART</li>
        </ol>
    </div>
</div>

<div class="check">
    <div class="container">	 
        <div class="col-md-3 cart-total">
            <%= link_to "Browse Products", products_browse_path, :class => "continue"%>
            <div class="price-details">
                <h3>Price Details</h3>
                <span>Total</span>
                <span class="total1"> $ <%= @carts.sum('quantity * products.price').round(2) %></span>
                <span>Discount</span>
                <span class="total1">0%</span>
                <span>Delivery Charges</span>
                <span class="total1">150.00</span>
                <div class="clearfix"></div>				 
            </div>
            <hr class="featurette-divider">
            <ul class="total_price">
               <li class="last_price"> <h4>TOTAL</h4></li>	
               <li class="last_price"><span><%= if @carts.count > 0 then @carts.sum('quantity * products.price').round(2) + 150 else 0.00 end %></span></li>
               <div class="clearfix"> </div>
            </ul> 
            <div class="clearfix"></div>
            <a class="order" href="#">Checkout</a>
        </div>
        <div class="col-md-9 cart-items">
            <h1>My Shopping Bag (<%= @carts.count %>)</h1>
            <%= render "cart_listing" %>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>